
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Criar Novo Projeto</div>
			<div class="panel-body no-bottom">
				
				<div class="form-group">
					<label for="cliente">Nome do cliente</label>
          <select id="cliente" name="cliente" class="form-control" size="1">
            <option value="">SELECIONE...</option>
            <option value="">Cliente 1</option>
            <option value="">Cliente 2</option>
            <option value="">Cliente 3</option>
          </select>
				</div>
        
				<div class="form-group">
					<label for="segmento">Segmento</label>
          <select id="segmento" name="segmento" class="form-control" size="1">
            <option value="">SELECIONE...</option>
            <option value="">Bens de Consumo e Varejo</option>
            <option value="">Saúde e Biomédicas</option>
            <option value="">Serviços e Ensino</option>
          </select>
				</div>
				
				<div class="form-group">
					<label for="solucao">Soluções</label>
            <select id="solucao" name="solucao" class="form-control" size="1">
              <option value="">SELECIONE...</option>
              <option value="">Transformação digital</option>
              <option value="">Cultura e Comportamento Ético</option>
              <option value="">LGPD/ GDPR</option>
            </select>
				</div>

        <div class="form-group">
          <label for="origemLead">Origem do Lead</label>
          <select id="origemLead" name="origemLead" class="form-control" size="1">
            <option value="">SELECIONE...</option>
            <option value="">Telefone</option>
            <option value="">E-mail</option>
            <option value="">Indicação</option>
          </select>
        </div>

        <div class="form-group">
          <label for="responsavelProposta">Responsável pela proposta</label>
          <select id="responsavelProposta" name="responsavelProposta" class="form-control" size="1">
            <option value="">SELECIONE...</option>
            <option value="">João</option>
            <option value="">Alfredo</option>
            <option value="">Maria</option>
          </select>
        </div>

        <div class="form-group">
          <label for="pursuitTeam">Pursuit Team</label>
          <select id="pursuitTeam" name="pursuitTeam" class="form-control" size="1">
            <option value="">SELECIONE...</option>
            <option value="">Equipe 1</option>
            <option value="">Equipe 2</option>
            <option value="">Equipe 3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="escritorioLider">Escritório Líder</label>
          <select id="escritorioLider" name="escritorioLider" class="form-control" size="1">
            <option value="">SELECIONE...</option>
            <option value="">Escritório 1</option>
            <option value="">Escritório 2</option>
            <option value="">Escritório 3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="valorBrutoVenda">Valor bruto da renda</label>
          <input id="valorBrutoVenda" name="valorBrutoVenda" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
        </div>
        
        <div class="form-group">
          <label for="descricaoProjeto">Descrição do projeto</label>
          <textarea class="form-control" rows="5"  id="descricaoProjeto" name="descricaoProjeto" spellcheck="true"></textarea>        
        </div>
        
      </div>
			<div class="panel-footer">
				<input value="Criar" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>

		</form>
	</div>
</div>


