<div class="row">
    <div id="map" style="height: 440px; border: 1px solid #AAA;"></div>
</div>

<%- contentFor("styles") %>
<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<style type="text/css">

</style>

<%- contentFor("scripts") %>
 <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
<script type='text/javascript' src='maps/markers.json'></script>
<script type='text/javascript' src='maps/leaf-demo.js'></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v0.min.js"></script>

<script>

    navigator.geolocation.getCurrentPosition(function (location) {
        var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
        var map = L.map('map').setView(latlng, 13);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            subdomains: ['a', 'b', 'c'],
            center: [-23.611169, -46.696062],
            minZoom: 10,
            zoom: 14
        }).addTo(map);
        var marker = L.marker(latlng).addTo(map);
    });


</script>
<div class="row">
    <div id="map" style="height: 440px; border: 1px solid #AAA;"></div>
</div>

<%- contentFor("styles") %>
<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<style type="text/css">

</style>

<%- contentFor("scripts") %>
 <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
<script type='text/javascript' src='maps/markers.json'></script>
<script type='text/javascript' src='maps/leaf-demo.js'></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v0.min.js"></script>

<script>

    navigator.geolocation.getCurrentPosition(function (location) {
        var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
        var map = L.map('map').setView(latlng, 13);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            subdomains: ['a', 'b', 'c'],
            center: [-23.611169, -46.696062],
            minZoom: 10,
            zoom: 14
        }).addTo(map);
        var marker = L.marker(latlng).addTo(map);
    });


</script>
