<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <form id="form" class="panel panel-default" action="#">
      <div class="panel-heading">Criar Localização</div>
      <div class="panel-body no-bottom">

        <div class="form-group">
          <label for="nome">Nome do local</label>
          <input id="nome" name="nome" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
        </div>  

        <div class="form-group">
          <label for="preco">Preço</label>
          <div class="estrelas">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="fa fa-usd"></label> 
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="fa fa-usd"></label> 
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="fa fa-usd"> </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="fa fa-usd"></label> 
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="fa fa-usd"></label> 
          </div>
        </div>
        <div class="form-group">
          <label for="ambiente">Ambiente</label>
          <div class="estrelas">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="fa fa-star-o"> </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="fa fa-star-o"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="atendimento">Atendimento</label>
          <div class="estrelas">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="fa fa-star-o"> </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="fa fa-star-o"></label>
          </div>
        </div>

        <div class="form-group">
          <label for="bebidas">Bebidas</label>
          <div class="estrelas">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="fa fa-star-o"> </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="fa fa-star-o"></label>
          </div>
        </div>
        <div class="form-group">
          <label for="tiragosto">Tira gosto</label>
          <div class="estrelas">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class="fa fa-star-o"> </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class="fa fa-star-o"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class="fa fa-star-o"></label>
          </div>
        </div>

        <div class="form-group">
          <label for="comentario">Comentário</label>
          <input id="comentario" name="comentario" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
        </div>


      </div>
      <div class="panel-footer">
        <input value="Criar Localização" class="btn btn-primary btn-lg btn-block" type="submit" />
      </div>

    </form>
  </div>
</div>


