<div id="sidebar-fake-bg" class="sidebar-fake-bg"></div>
<nav class="navbar navbar-default navbar-static-top nav-shadow " role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Alterar menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <img class="logos" src="/imagens/ICTS_WHITE.SVG" alt="ICTS" style="margin:0px 0px 0px 10px"/>
        <img class="logos" src="/imagens/icts_circle_white.SVG" alt="WHITE CIRCLE" />
        <img class="logos" src="/imagens/myprotiviti_white.SVG" alt="MYPROTIVITI" style="height:23px; margin-top: 12px;" />
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
        <img class="profile-img" alt="Perfil" src="/imagens/icts_circle_white.SVG" width="30" height="30" /><%=usuario.login %> <i class="fa fa-caret-down"></i>
        <!-- <img class="profile-img" alt="Perfil" src="/api/UserProfile/Picture?id=<%=usuario.id %>" width="40" height="40" /><%=usuario.login %> <i class="fa fa-caret-down"></i> -->
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <a href="/perfil">
            <i class="fa fa-user fa-fw"></i>Meu Perfil
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/logout">
            <i class="fa fa-sign-out fa-fw"></i>Logout
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="navbar-default sidebar" id="sidebar" role="navigation">
    <div id="navbar-collapse" class="sidebar-nav navbar-collapse collapse">
      <ul class="nav" id="side-menu">

        <li>
          <a href="#">
            <i class="fa fa-file-video-o"></i>Administrativo<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="/administrativo/criar">
                <i class="fa fa-plus fa-fw"></i>Criar
              </a>
            </li>
            <li>
              <a href="/administrativo/listar">
                <i class="fa fa-eye"></i>Visualizar
              </a>
            </li>

            

          </ul>
        </li>


        <li>
          <a href="#">
            <i class="fa fa-vcard-o"></i>Carreira<span class="fa arrow"></span>
          </a>
          <!--<ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Mapa de carreira<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/mapaCarreira/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/mapaCarreira/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>

          </ul>

          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Gestão de desempenho<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/gestaoDesempenho/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/gestaoDesempenho/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>

          </ul>-->

          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Capacitação & Treinamentos<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/mentoring/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/mentoring/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Mentoring<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                  <li>
                    <a href="#">
                      <i class=""></i>Mentor<span class="fa arrow"></span>
                    </a>
                <ul class="nav nav-fourth-level collapse">
                  <li>
                    <a href="/carreira/mentoring/mentor/criar">
                      <i class="fa fa-plus fa-fw"></i>Criar
                    </a>
                  </li>
                  <li>
                    <a href="/carreira/mentoring/mentor/listar">
                      <i class="fa fa-eye"></i>Visualizar
                    </a>
                  </li>
                </ul>
              </ul>

            <ul class="nav nav-third-level collapse">
                <li>
                  <a href="#">
                    <i class=""></i>Mentorado<span class="fa arrow"></span>
                  </a>
              <ul class="nav nav-fourth-level collapse">
                <li>
                  <a href="/carreira/mentoring/mentor/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/carreira/mentoring/mentor/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </ul>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/carreira/mentoring/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/carreira/mentoring/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>

              


          </ul>

          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Currículo<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/curriculo/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/curriculo/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>


          </ul>

        </li>

        <li>
          <a href="#">
            <i class="fa  fa-sitemap"></i>Alocação<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">

            <li>
              <a href="/alocacao/criar">
                <i class="fa fa-plus fa-fw"></i>Criar
              </a>
            </li>

            <li>
              <a href="/alocacao/listar">
                <i class="fa fa-eye"></i>Visualizar
              </a>
            </li>

          </ul>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-book"></i>PEC<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">

            <li>
              <a href="/pec/criar">
                <i class="fa fa-plus fa-fw"></i>Criar
              </a>
            </li>

            <li>
              <a href="/pec/listar">
                <i class="fa fa-eye"></i>Visualizar
              </a>
            </li>

          </ul>
        </li>

        <li>
          <a href="#">
            <i class="fa  fa-suitcase"></i>Negócios<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Projetos<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/negocios/projeto/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/negocios/projeto/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>

          </ul>

          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Parcerias<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/negocios/parcerias/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/negocios/parcerias/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>


          </ul>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Indicação de Oportunidade<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/negocios/indicacaoOportunidade/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/negocios/indicacaoOportunidade/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>


          </ul>

          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Soluções<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/negocios/solucoes/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/negocios/solucoes/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>

          </ul>

          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Empresa<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/negocios/empresa/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/negocios/empresa/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>

          </ul>

          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Cliente<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/negocios/cliente/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/negocios/cliente/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>

          </ul>

          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Indústrias<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/negocios/industria/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/negocios/industria/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>

          </ul>

          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">
                <i class=""></i>Pursuit Team<span class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="/negocios/pursuitTeam/criar">
                    <i class="fa fa-plus fa-fw"></i>Criar
                  </a>
                </li>
                <li>
                  <a href="/negocios/pursuitTeam/listar">
                    <i class="fa fa-eye"></i>Visualizar
                  </a>
                </li>
              </ul>
            </li>

          </ul>

        </li>

        <li>
          <a href="#">
            <i class="fa fa-users"></i>Liderença<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">

            <li>
              <a href="/liderenca/criar">
                <i class="fa fa-plus fa-fw"></i>Criar
              </a>
            </li>

            <li>
              <a href="/lideranca/listar">
                <i class="fa fa-eye"></i>Visualizar
              </a>
            </li>

          </ul>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-cutlery"></i>Time Out<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">

            <li>
              <a href="/timeOut/criar">
                <i class="fa fa-plus fa-fw"></i>Criar
              </a>
            </li>

            <li>
              <a href="/timeOut/mapa">
                <i class="fa fa-globe "></i>Mapa
              </a>
            </li>

            

          </ul>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-lightbulb-o"></i>Inovação<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">

            <li>
              <a href="/inovacao/criar">
                <i class="fa fa-plus fa-fw"></i>Criar
              </a>
            </li>

            <li>
              <a href="/inovacao/listar">
                <i class="fa fa-eye"></i>Visualizar
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
