
<nav class="navbar navbar-default navbar-static-top nav-shadow " role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Alterar menu</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/"><img alt="Logo" src="/imagens/logo-cabecalho.png" /></a>
	</div>

	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
				<img class="profile-img" alt="Perfil" src="/api/UserProfile/Picture?id=<%=usuario.id %>" width="40" height="40" /><%=usuario.login %> <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				<li>
					<a href="/perfil"><i class="fa fa-user fa-fw"></i>Meu Perfil</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
				</li>
			</ul>
		</li>
	</ul>

	<div class="navbar-default sidebar" role="navigation">
		<div id="navbar-collapse" class="sidebar-nav navbar-collapse collapse">
			<ul class="nav" id="side-menu">

				
				<li>
					<a href="#"><i class="fa fa-bullhorn fa-fw"></i>Administrativo<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						

						<li>
							<a href="/administrativo/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						

					

						<li>
							<a href="/administrativo/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

						

					</ul>
				</li>

				 

				<li>
					<a href="#"><i class="fa fa-briefcase"></i>Carreira<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="/carreira/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="/carreira/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-thumb-tack"></i>Alocação<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="/alocacao/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="/alocacao/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-map-marker fa-fw"></i>PEC<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="/pec/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="/pec/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-building"></i>Negócios<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="/negocios/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="/negocios/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-balance-scale"></i>Liderença<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="/liderenca/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="/lideranca/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#"><i class="fa fa-clock-o"></i>Time Out<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">

						<li>
							<a href="/timeOut/criar"><i class="fa fa-plus fa-fw"></i>Criar</a>
						</li>

						<li>
							<a href="/timeOut/listar"><i class="fa fa-tasks fa-fw"></i>Gerenciar</a>
						</li>

					</ul>
				</li>

				

			</ul>
		</div>
	</div>
</nav>
