
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Criar Novo Mentoring</div>
			<div class="panel-body no-bottom">
				
				<div class="form-group">
					<label for="mentor">Mentor</label>
          <select id="mentor" name="mentor" class="form-control" size="1">
            <option value="">SELECIONE...</option>
            <option value="">Rogério Silva Martins</option>
            <option value="">Érica dos Santos Matos</option>
            <option value="">José Costa</option>
          </select>
				</div>
        
				<div class="form-group">
					<label for="mentorado">Mentorado</label>
          <select id="mentorado" name="mentorado" class="form-control" size="1">
            <option value="">SELECIONE...</option>
            <option value="">Jorge Heleno Caixias</option>
            <option value="">Mônica Souza Pires</option>
            <option value="">Cléber Mota</option>
          </select>
				</div>
				
			        
      </div>
			<div class="panel-footer">
				<input value="Criar" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>

		</form>
	</div>
</div>


