html {
	height: 100%;
}

@media(min-width:768px) {
	body {
		min-height: 100%;
	}
}

#wrapper {
	width: 100%;
}

#page-wrapper {
	padding: 0 15px;
}

.navbar-right {
	text-align: right;
}

@media(min-width:768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 250px;
		padding: 0 30px;
	}

	#side-menu {
		border-color: #e7e7e7;
	}
}

#page-wrapper.fullscreen {
	margin: 0;
}

@media(min-width:1361px) {
	#page-wrapper.fullscreen {
		padding: 0 15px;
	}

		#page-wrapper.fullscreen > .row {
			margin: 0 auto;
			max-width: 1300px;
		}
}

@media(min-width:1581px) {
	#page-wrapper {
		padding: 0 15px;
	}

		#page-wrapper > .row {
			margin: 0 auto;
			max-width: 1300px;
		}
}

#side-menu i {
	-webkit-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
}

#side-menu > li > a > i {
	color: #fff;
}

#side-menu i.fa-plus {
	color: #37b1f5;
}

#side-menu i.fa-eye{
	color: #37b1f5;
}
#side-menu i.fa-globe{
	color: #37b1f5;
}

#side-menu i.fa-tasks {
	color: #6bf;
}

#side-menu a:hover i, #side-menu a:focus i, #side-menu a:active i, #side-menu a.active i {
	color: #fff;
}

.navbar-top-links {
	margin-right: 0;
}

	.navbar-top-links li {
		display: inline-block;
	}

		.navbar-top-links li:last-child {
			margin-right: 0;
		}

		.navbar-top-links li a {
			padding: 10px 5px;
			min-height: 50px;
		}

	.navbar-top-links.nav > li > a:hover {
		background-color: #346a88;
	}

	.navbar-top-links.nav > li > a:focus {
		background-color: #2a5a75;
	}

.profile-img {
	border: 0;
	border-radius: 50px;
	margin: 0 0.5em 0 0;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

	.navbar-top-links .dropdown-menu li:last-child {
		margin-right: 0;
	}

.dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
	-webkit-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	transition: all ease-in-out .2s;
	outline: 0px none transparent;
}

/*@@@*/
.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin: 0;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
	border-top: 0;
}

/*.sidebar ul li {
	border-bottom: 1px solid #555;
}

	.sidebar ul li:last-child {
		border-bottom-width: 0;
	}*/

.sidebar ul li a.active {
	color: #fff;
	background-color: #555;
}

	.sidebar ul li a.active:active {
		background-color: #444;
	}

.sidebar .arrow {
	float: right;
}

.sidebar .fa.arrow:before {
	content: "\f105";
}

.sidebar .active > a > .fa.arrow:before {
	content: "\f107";
}

.sidebar-spacer {
	height: 25px;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
	background: #3f3f3f;
}

	.sidebar .nav-second-level li a {
		background-color: #1a1d20;
		padding-left: 37px;
	}

	.sidebar .nav-third-level li a {
		background-color: #212528;
		padding-left: 52px;
	}

	.sidebar .nav-fourth-level li a{
		background-color:#212528;
		padding-left: 67px;
	}

.sidebar-fake-bg {
	display: none;
}

@media(min-width:768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 210px;
		margin-top: 50px;
		min-height: 100px;
	}

	.sidebar-fake-bg {
		display: block;
		z-index: 0;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 210px;
		left: 0;
	}
}

.huge {
	font-size: 30px;
}

.panel-green {
	/*border-color: #5cb85c;*/
}

	.panel-green .panel-heading {
		border-color: #5cb85c;
		color: #fff;
		background-color: #5cb85c;
	}

	.panel-green a, .panel-success a {
		color: #3d8b3d;
	}

		.panel-green a:hover, .panel-success a:hover {
			color: #5cb85c;
		}

.panel-yellow {
	/*border-color: #f0ad4e;*/
}

	.panel-yellow .panel-heading {
		border-color: #f0ad4e;
		color: #fff;
		background-color: #f0ad4e;
	}

	.panel-yellow a, .panel-warning a {
		color: #df8a13;
	}

		.panel-yellow a:hover, .panel-warning a:hover {
			color: #f0ad4e;
		}

.panel-red {
	/*border-color: #d9534f;*/
}

	.panel-red .panel-heading {
		border-color: #d9534f;
		color: #fff;
		background-color: #d9534f;
	}

	.panel-red a, .panel-danger a {
		color: #b52b27;
	}

		.panel-red a:hover, .panel-danger a:hover {
			color: #d9534f;
		}

i.fa {
	margin-right: 0.5em;
}

i.fa-nomargin {
	margin-right: 0;
}

.col-h2 {
	color: #00f;
	font-weight: bold;
}

.col-h {
	color: #f00;
	font-weight: bold;
}

.col-no-h {
	color: #333;
	font-weight: bold;
}

.included-row {
	color: #3d8b3d;
}

.included-row-icon {
	visibility: hidden;
}

.included-row .included-row-icon {
	visibility: visible;
}

.excluded-row {
	color: #a94442;
}

.margin-right-lg {
	margin-right: 30px;
}

.navbar-brand {
	padding: 0px;
	border: 0px none transparent;
}

	.navbar-brand img {
		height: 50px;
	}

.navbar-default {
	background-color: #4080a4;
}

.nav > li > a:hover {
	color: #fff;
	background-color: #282d31;
}

.nav > li > a:focus {
	background-color: #1a1d20;
}

.sidebar, .sidebar-fake-bg {
	background-color: #31373c;
}

.logos {
	display: inline-block;
	margin: 10px 0px;
	height: 20px;
}

.last-search-row {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}

.fullscreen-iframe {
	border: 0;
	margin: 0;
	padding: 0;
	background: url(../Images/loading-grey-t.gif) no-repeat #f0f0f0;
	background-position: center center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10001; /* Bootstrap goes up to 1100 */
	opacity: 0;
	-webkit-transition: all ease-in-out .4s; /* Slower than the rest, on purpose */
	-o-transition: all ease-in-out .4s;
	transition: all ease-in-out .4s;
}

.fullscreen-iframe-visible {
	opacity: 1;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	bottom: -3px;
	right: -1px;
}

/**********************************************/
/* Just to lighten up OpenStreetMap a little! */
.custom-map {
	background-color: #fff;
}

.leaflet-tile-pane {
	opacity: 0.75;
}
/**********************************************/

.leaflet-container a.leaflet-popup-close-button {
	top: 8px;
	right: 5px;
	padding: 0;
}

.custom-map .div-popup .btn {
	color: #fff;
}

.custom-map .div-popup hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.custom-map .div-popup-item {
	margin-top: 4px;
}

.emoji {
	font-size: 16px;
}

.custom-map-button {
	background: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
}

	.custom-map-button:hover {
		background: #f4f4f4;
	}
