
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Criar nova parceria</div>
			<div class="panel-body no-bottom">
				
				<div class="form-group">
					<label for="nome">Nome da empresa parceira</label>
					<input id="nome" name="nome" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
				</div>
        
				<div class="form-group">
					<label for="time">Time responsável pela pareceria</label>
					<input id="time" name="time" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
				</div>
				
				<div class="form-group">
					<label for="solucao">Soluções</label>
					<input id="solucao" name="solucao" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
				</div>
        
        <div class="form-group">
          <label for="valorAgregado">Valor agregado ao negócio</label>
          <input id="valorAgregado" name="valorAgregado" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
        </div>

      </div>
			<div class="panel-footer">
				<input value="Criar parcerias" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>

		</form>
	</div>
</div>


