<div class="index-wrapper">
	<div class="index-header">
		<img src="https://via.placeholder.com/600x90">
	</div>
	<div class="index-content">
		<div class="index-content-row">
			<div><img src="https://via.placeholder.com/60x60"style="margin: 10px;"></div>
			<div><img src="https://via.placeholder.com/60x60"style="margin: 10px;"></div>
			<div><img src="https://via.placeholder.com/60x60"style="margin: 10px;"></div>
		</div>
		<div class="index-content-row">
			<div><img src="https://via.placeholder.com/60x60"style="margin: 10px;"></div>
			<div><img src="https://via.placeholder.com/60x60"style="margin: 10px;"></div>
			<div><img src="https://via.placeholder.com/60x60"style="margin: 10px;"></div>
		</div>
		<div class="index-content-row">
			<div><img src="https://via.placeholder.com/60x60"style="margin: 10px;"></div>
			<div><img src="https://via.placeholder.com/60x60"style="margin: 10px;"></div>
			<div><img src="https://via.placeholder.com/60x60"style="margin: 10px;"></div>
		</div>
	</div>
	<div class="index-footer">
		<img src="https://via.placeholder.com/600x90">
	</div>
</div>
