<div class="index-wrapper">
	<div class="index-header">
        <img id="BlueCircleDashboard" src="/imagens/icts_circle_blue.svg";/>
		<img id="MyProtivitiDashboard" src="/imagens/myprotiviti.svg";/>
	</div>
	<div class="index-content">
		<div class="index-content-column">
			<a href="/negocios/projeto/listar" class="dashboard-icon-container">
                <i class="fa fa-suitcase fa-fw dashboard-icon"></i>
                <span class="dashboard-title">Projetos</span>
			</a>
			<a href="/adminstrativo/listar" class="dashboard-icon-container">
                <i class="fa fa-file-video-o fa-fw dashboard-icon"></i>
                <span class="dashboard-title">Administrativo</span>
			</a>
			<a href="/negocios/parcerias/listar" class="dashboard-icon-container">
                <i class="fa fa-suitcase fa-fw dashboard-icon"></i>
                <span class="dashboard-title">Parcerias</span>
			</a>
		</div>
		<!--<div class="index-content-column">
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
		</div>-->
		<div class="index-content-column">
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-suitcase fa-fw dashboard-icon"></i>
                <span class="dashboard-title">Indicação</span>
			</a>
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-lightbulb-o fa-fw dashboard-icon"></i>
                <span class="dashboard-title">Inovação</span>
			</a>
			<a href="/timeout/listar" class="dashboard-icon-container">
                <i class="fa fa-cutlery fa-fw dashboard-icon"></i>
                <span class="dashboard-title">Time Out</span>
			</a>
		</div>
	</div>
</div>
