<div class="index-wrapper">
	<div class="index-header">
        <img id="BlueCircleDashboard" src="/imagens/icts_circle_blue.svg";/>
		<img id="MyProtivitiDashboard" src="/imagens/myprotiviti.svg";/>
	</div>
	<div class="index-content">
		<div class="index-content-column">
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">Perfil</span>
			</a>
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
		</div>
		<div class="index-content-column">
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
		</div>
		<div class="index-content-column">
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
			<a href="/perfil" class="dashboard-icon-container">
                <i class="fa fa-user fa-fw dashboard-icon"></i>
                <span class="dashboard-title">PERFIL</span>
			</a>
		</div>
	</div>
	<div class="index-footer">
		<img id="cidade" src="/imagens/skyline.svg";/>
	</div>
</div>
