
<!--
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body placeholder-chooser">
				Informações iniciais
			</div>
		</div>
	</div>
</div>
-->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
            <div class="panel-body">
			    <p>A imagem de uma empresa é o reflexo de suas atitudes. Atitudes estas que são tomadas por pessoas e, na ICTS, pelos nossos profissionais, que prezam por nossa reputação e têm orgulho da relação diferenciada com a qual trabalhamos, seja com o público interno ou externo.</p> 
                <p>A ética faz, fez e sempre fará parte de nossas vidas, sendo ela o cerne do nosso negócio. Para nós, ser ético é ir além do cumprimento das leis e regras vigentes. É saber discernir entre o certo e o errado e fazer o que é certo. É ter coerência entre o discurso e a prática. É não permitir e/ou conviver com atos que contrariem os nossos princípios éticos. O <b>Código de Conduta Ética</b> da ICTS rege temas importantes que fazem parte da nossa forma de agir e de conduzir nossos negócios.</p>
                <p>No entanto, o documento não apresenta de forma exaustiva todas as situações vivenciadas no dia a dia dos nossos profissionais, mas é essencial para guiá-los, por meio dos princípios contidos, na realização de suas atividades diárias.</p>
                <p><b>O Código de Conduta Ética</b> é um documento vivo e deve passar por revisões e atualizações periódicas. desta forma, em face da evolução constante da empresa e para clarificar nosso posicionamento, revisamos e atualizamos mais uma vez o nosso Código. O <b>Código de Conduta Ética</b> deve ser vivido e disseminado por todos nós, diariamente.</p>
                <div style="text-align: center;"><img src="/imagens/assinaturas.png" alt="Assinaturas" style="width: 500px; max-width: 100%;" /></div>
            </div>
		</div>
	</div>
</div>
