<form method="post" action="./">
	<div style="max-width: 400px; margin: 5% auto; padding: 15px;">
		<div class="panel <%= (mensagem ? 'panel-danger' : 'panel-default' ) %>">
			<div class="panel-heading">
				<div class="text-center">
					<img alt="Logo" src="/imagens/logo.png" />
				</div>
			</div>
			<div class="panel-body">
				<div id="divUser" class="form-group">
					<label for="login">Usuário</label>
					<input name="login" type="text" id="login" class="form-control text-uppercase" spellcheck="false" />
				</div>
				<div id="divPass" class="form-group">
					<label for="senha">Senha</label>
					<input name="senha" type="password" id="senha" class="form-control" />
				</div>
				<% if (mensagem) { %>
				<div id="lblMessage" class="alert alert-danger no-margin-bottom"><%=mensagem %></div>
				<% } %>
			</div>
			<div class="panel-footer">
				<input type="submit" value="Login" class="btn btn-primary btn-lg btn-block" />
			</div>
		</div>
	</div>
</form>
