
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Criar Programa de Ética e Compliance (PEC)
      </div>
			<div class="panel-body no-bottom">
				
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" name="nome" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
				</div>
				<div class="form-group">
					<label for="link">Link</label>
					<input id="link" name="link" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
				</div>
				<div class="form-group">
					<input type="file" name="pic" accept="video/*">
                    <input type="submit">
				</div>
				<div class="form-group">
					<label for="descricao">Descrição</label>
					<input id="descricao" name="descricao" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
				</div>	
					
				
			</div>
			<div class="panel-footer">
				<input value="Criar" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>

		</form>
	</div>
</div>


