
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Adicionar Novo Mentorado</div>
			<div class="panel-body no-bottom">
				
				<div class="form-group">
					<label for="nomeMentorado">Nome do mentorado</label>
					<input id="nomeMentorado" name="nomeMentorado" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="" />
				</div>
        
				

      </div>
			<div class="panel-footer">
				<input value="Criar" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>

		</form>
	</div>
</div>


