
<div class="row">
    <h3 style="margin-left: 30%">Video explicativo</h3>
    
    <p style="margin-left: 30%;margin-top:2%"><a href=""><img src="/imagens/D4wM500.png" width="200px" height="200px"></a></p>
    <p style="margin-left: 10%;margin-top:2%">Link:<a href="#"> www.teste.com</a></p>
    <p style="margin-left: 10%;margin-top:2%">Descricao:</p>
    <p style="margin-left: 10%;margin-top:2%" class="col-sm-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac hendrerit nibh. Sed fermentum eros id purus posuere rhoncus. Donec a nulla eu orci laoreet congue non ac nulla. Pellentesque ullamcorper viverra felis, et tincidunt tellus luctus non. Proin finibus urna sed sapien placerat, eget semper dui rhoncus. Phasellus erat dui, sodales a felis vitae, maximus pulvinar mauris. Proin ullamcorper, quam aliquam scelerisque vestibulum, justo metus rutrum magna, at blandit libero dolor et ante.</p>
</div>

<div class="row">
    <h3 style="margin-left: 30%">Video explicativo</h3>
    <p style="margin-left: 10%;margin-top:2%">Link:<a href="#"> www.teste.com</a></p>
    
    <p style="margin-left: 30%;margin-top:2%"><a href=""><img src="/imagens/D4wM500.png" width="200px" height="200px"></a></p>
    <p style="margin-left: 10%;margin-top:2%">Descricao:</p>
    <p style="margin-left: 10%;margin-top:2%" class="col-sm-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac hendrerit nibh. Sed fermentum eros id purus posuere rhoncus. Donec a nulla eu orci laoreet congue non ac nulla. Pellentesque ullamcorper viverra felis, et tincidunt tellus luctus non. Proin finibus urna sed sapien placerat, eget semper dui rhoncus. Phasellus erat dui, sodales a felis vitae, maximus pulvinar mauris. Proin ullamcorper, quam aliquam scelerisque vestibulum, justo metus rutrum magna, at blandit libero dolor et ante.</p>
</div>
