<div class="row">
    <h3 style="margin-left: 30%">Video explicativo</h3>

    <p style="margin-left: 25%;margin-top:2%">Link:</p>
    <p style="margin-left: 25%;margin-top:2%">Video:</p>
    <p style="margin-left: 25%;margin-top:2%">Descricao:</p>



</div>
